body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    color: #161032;
    background-color: #F4FAFF;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 78vh;
    padding: 1em;
}

.left {
    width: 75%;
}

h1 {
    font-size: 2.25em;
    margin: 0;
}

a {
    color: #623CEA;
    font-weight: bold;
}

header {
    color: #fff;
    background-color: #623CEA;
    padding: 1.75em 1em 0 1em;
    border-bottom: 1px solid #ddd;
}

figure {
    width: 50%;
    margin: auto;
}

.profile-img {
    width: 100%;
    border-radius: 50em;
}

.card {
    width: 75%;
    background-color: #fff;
    margin: 2em auto;
    padding: .5em 1em;
    border: 1px solid #ddd;
    border-radius: .5em;
}

footer {
    bottom: 0;
    padding: 1em;
    text-align: center;
}

@media only screen and (min-width: 992px) {
  .left {
    width: 30vw;
  }
}